{% extends "app/theme/"+config['APP_USER']+".html" %}

{% block content %}
  <form name="agreement_form" action="{{ url_for('conveyancer_user.agreement_signing') }}">
    <div class="row">
      <div class="col-lg-8 {{ config['APP_USER'] }}-container">
        <h2>Agree to sign your sales{% if not is_selling %}, mortgage {% endif %} and transfer agreements</h2>
        <p class="mb-4">
          Please agree to your sales agreement{% if not is_selling %}, mortgage terms {% endif %} and transfer agreements.
          You'll verify this on the next screen.
          <br>You can view your full documents below.
          {% if show_sdlt_text %}
            <br>You'll also need to agree to pay your Stamp Duty Land Tax (SDLT).
          {% endif %}
        </p>
        <strong>
          {{ address['house_name_number'] + ' ' + address['street'] }}<br>
          {{ address['town_city'] }}<br>
          {{ address['county'] }}<br>
          {{ address['country'] }}<br>  
          {{ address['postcode'] }}
        </strong>
        <div class="row m-2">
          <div class="col">
            will be {% if is_selling %}sold{% else %}bought{% endif %} for
          </div>
        </div>
        <div class="row">
          <div class="col"><strong>{{ purchase_price }}</strong></div>
        </div>
        <br>
        I agree to:
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="sales-agreement" required>
          <label class="form-check-label" for="sales-agreement">
              <a href="#">my sales agreement</a>
          </label>
        </div>
        {% if not is_selling %}
          <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="mortgage-terms" required>
              <label class="form-check-label" for="mortgage-terms">
                  <a href="#">{{ buyer_lender | title }}'s mortgage terms</a>
              </label>
          </div>
        {% endif %}
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="property-transfer" required>
            <label class="form-check-label" for="property-transfer">
                 <a href="#">my property transfer</a>
            </label>
        </div>
        {% if not is_selling %}
          <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="sdlt" required>
              <label class="form-check-label" for="sdlt">
                  <strong><a href="#">SDLT calculation of {{ sdlt_figure }}</a></strong>
              </label>
          </div>
        {% endif %}
        <div class="row">
          <div class="col">
            <button type="submit" class="btn {{ config['APP_USER'] }}-bg-button btn-blue m-3">
              Continue
            </button>
          </div>
        </div>
      </div>
    </div>
  </form>
{% endblock %}
