{% extends "app/theme/"+config['APP_USER']+".html" %}

{% block content %}
  <form name="agreement_form" action="{{ url_for('conveyancer_user.agreement_signing') }}">
    <div class="row">
      <div class="col-lg-8 {{ config['APP_USER'] }}-container">
        <h2>Sign your sales{% if not is_selling %}, mortgage {% endif %} and transfer agreements</h2>
        <p class="mb-0">
          Please agree to your sales agreement{% if not is_selling %}, mortgage terms {% endif %} and property transfer. You'll confirm this on the next screen.
          You can view your full documents by clicking on the links below.
        </p>
        <strong>
          {{ address['house_name_number'] + ' ' + address['street'] }}<br>
          {{ address['town_city'] }}<br>
          {{ address['county'] }}<br>
          {{ address['country'] }}<br>  
          {{ address['postcode'] }}
        </strong>
        <div class="row m-2">
          <div class="col">
            will be {% if is_selling %}sold{% else %}bought{% endif %} for
          </div>
        </div>
        <div class="row">
          <div class="col"><strong>{{ purchase_price }}</strong></div>
        </div>
        <br>        
        <div class="form-check">I agree to</div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="sales-agreement" required>
          <label class="form-check-label" for="sales-agreement">
              <strong><u>my sales agreement</u></strong>
          </label>
        </div>
        {% if not is_selling %}
          <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="mortgage-terms" required>
              <label class="form-check-label" for="mortgage-terms">
                  <strong><u>{{ buyer_lender | title }}'s mortgage terms</u></strong>
              </label>        
          </div>
        {% endif %}
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="property-transfer" required>
            <label class="form-check-label" for="property-transfer">
                 <strong><u>my property transfer</u></strong>
            </label>
        </div>           
        <div class="row">
          <div class="col">
            <button type="submit" class="btn {{ config['APP_USER'] }}-bg-button btn-blue m-3">
              Continue
            </button>
          </div>
        </div>
      </div>
    </div>
  </form>
{% endblock %}
