{% extends "app/layout.html" %}

{% block main %}
  <div class="container mt-4">
    <div class="row">
      <div class="col">
          <a href="{{ url_for('conveyancer_user.agreement_info', case_reference=session['case_reference'], title_id=session['title_id']) }}">
            {% if is_selling %}
              <img class="w-25" src="{{ url_for('static', filename='images/app/ready_to_sign.png') }}">
            {% else %}
              <img class="w-25" src="{{ url_for('static', filename='images/app/buyer_notification.png') }}">
            {% endif %}
          </a>
      </div>
    </div>
  </div>
{% endblock %}

