<div class="modal-dialog" role="document">
  <div class="modal-content {{ config['APP_USER'] }}-container text-left title-details-modal">
    <div class="modal-header">
      {% if error_message %}
        <div class="alert alert-danger">
          {{ error_message }}
        </div>
      {% endif %}
      {% if title_data %}
        <h5 class="modal-title" id="exampleModalLabel">
          {% set address = title_data['title']['address'] %}
          {{ address['house_name_number'] }}<br>
          {{ address['street'] }}<br>
          {{ address['town_city'] }}<br>
          {{ address['postcode'] }}
        </h5>
      {% endif %}
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    {% if title_data %}
      <div class="modal-body">
        <div class="row">
          <div class="col"><label class="font-weight-bold">Title number:</label> {{ title_data['title_number'] }}</div>
        </div>
        <div class="row">
          <div class="col"><label class="font-weight-bold">Tenure type:</label> {{ extras.tenure_type }}</div>
        </div>
        <div class="row">
          <div class="col"><label class="font-weight-bold">Class of title:</label> {{ extras.title_class }}</div>
        </div>
        <div class="row">
          <div class="col"><label class="font-weight-bold">Property description:</label> {{ extras.property_description|safe }}</div>
        </div>
        <br>
        {% if extras.price_history %}
          <div class="row">
            <div class="col"><span class="font-weight-bold">Price history</span><br>
              <table class="table">
                <tbody>
                  {% for data in extras.price_history|sort(attribute='date',reverse=True) %}
                    <tr>
                      <td>{{ data.price_pretty }}</td>
                      <td>Sold</td>
                      <td>
                          <span title="{{ data.date_full_pretty }}">{{ data.date_pretty }}</span>
                      </td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        {% endif %}
        {% if extras.restrictions %}
          <h3>Things that affect this property</h3>
          {% if extras.restrictions.this_property %}
            <h5>This property:</h5>
            <ul>
              {% for data in extras.restrictions.this_property %}
                <li>{{ data|safe }}</li>
              {% endfor %}
            </ul>
          {% endif %}
          {% if extras.restrictions.you_cant %}
            <h5>You can't:</h5>
            <ul>
              {% for data in extras.restrictions.you_cant %}
                <li>{{ data|safe }}</li>
              {% endfor %}
            </ul>
          {% endif %} 
          {% if extras.restrictions.you_can %}       
            <h5>You can:</h5>
            <ul>
              {% for data in extras.restrictions.you_can %}
                <li>{{ data|safe }}</li>
              {% endfor %}
            </ul>
          {% endif %}
          {% if extras.restrictions.other_people %}
            <h5>Other people can use your land. The:</h5>
            <ul>
              {% for data in extras.restrictions.other_people %}
                <li>{{ data|safe }}</li>
              {% endfor %}
            </ul>
          {% endif %}
        {% endif %}
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary  {{ config['APP_USER'] }}-bg-button btn-lg" data-dismiss="modal">Close</button>
        </div>
      </div>
    {% endif %}
  </div>
</div>
