{# specify absolute url for the static assets folder e.g. http://wwww.domain.com/assets #}
{%- set assetUrl = assetUrl | default(assetPath) -%}
<!doctype html>
<html lang="{{ htmlLang | default('en') }}" class="{{ htmlClasses }}">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="HandheldFriendly" content="true">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>

    {% block headIcons %}
    {% endblock %}

    {% block head %}

    <!--[if gt IE 8]><!--><link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheets/main-conveyancer.css') }}" /><!--<![endif]-->
    <!--[if IE 8]><link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheets/main-conveyancer-ie8.css') }}" /><![endif]-->
    {% if config['APP_USER'] == 'mishcon' %}
      <link href="//db.onlinewebfonts.com/c/a45675669ec79ed1d4b61961f70c973e?family=Sabon" rel="stylesheet" type="text/css"/>
      <link href="//db.onlinewebfonts.com/c/c0bff3575803a719371d2efd5f133c62?family=Sabon" rel="stylesheet" type="text/css"/>
      <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheets/mishcon.css') }}"/>
    {% elif config['APP_USER'] == 'myhomemove' %}
      <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheets/myhomemove.css') }}"/>
    {% endif %}
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">

    <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>

    {% endblock %}

    <title>{% block pageTitle %}{% block title %}{% endblock %}{%if self.title() %} - {% endif %}{{ service_name }}{% endblock %}</title>
  </head>
  <body class="{{ config['APP_USER'] }}-body">
    {% block bodyStart %}
    {% endblock %}

    {% block skipLink %}
    {% endblock %}

    {% block header %}
    {% endblock %}

    {% block main %}
    {% endblock %}

    {% block footer %}
    {% endblock %}

    {% block bodyEnd %}
    <!--[if gt IE 8]><!-->
    <script src="{{ url_for('static', filename='javascripts/main-conveyancer.js') }}"> </script>
    <!--<![endif]-->
    {% endblock %}
  </body>
</html>
