{% extends "app/theme/"+config['APP_USER']+".html" %}

{% block head %}
    {{ super() }}
    <script src="https://sdk.yoti.com/clients/browser.2.2.0.js"></script>
{% endblock %}

{% block main %}
  <div class="vertical-center">
    <div class="container">
      {% if error_message %}
        <div class="row">
          <div class="col-7 mx-auto pt-1">
            <div class="alert alert-danger">
              {{ error_message }}
            </div>
          </div>
        </div>
      {% endif %}
      <div class="row">
        <main role="main" class="col-lg-6 ml-sm-auto {{ config['APP_USER'] }}-container">
            <h1>Log in with Yoti</h1>
            <div class="mb-2">
              <span data-yoti-application-id="{{ config['YOTI_APPLICATION_ID'] }}" data-yoti-type="instant" data-yoti-scenario-id="{{ config['YOTI_LOGIN_SCENARIO_ID'] }}">
                Use Yoti
              </span>
            </div>
            <p>Don't have an account? <a href="{{ url_for('auth.register_yoti')}}">Register</a></p>
        </main>
    </div>
  </div>
{% endblock %}

{% block bodyEnd %}
  <script>
      _ybg.init()
  </script>
  {{ super() }}
{% endblock %}